.App {
  text-align: center;
}

.nav-bar{
  background-color: #163f7a;
  height: 130px;
}

.logo-txt{
  display: inline-block;
  font-size: larger;
}

h3{
  display:inline;
}
#txt-1{
  font-family: Copperplate, fantasy;
}

#txt-2{
  color: #38dcc2;
}

#img-1{
  width: 100%;
  height: 650px;
}

.nav-bar-2{
  height: 70px;
}

#text-style{
  font-size: 12pt;
  font-weight: bolder;
  color: #4a4949;
}

#text-style:hover{
  font-size: 12pt;
  font-weight: bolder;
  color: #38dcc2;
}

.poz{
  margin-left: 300px;
}

.menu-item{
  color: #38dcc2;
}


.button {
  background-color: white; /* Green */
  border: none;
  color: white;
  padding: 7px 22px;
  text-align: center;
  transition-duration: 0.4s;
  border-radius: 15px;
}

.button1 {
  border: 2px solid #38dcc2;
  background-color: white;
  color: black;
}

.button:hover {
  background-color: #38dcc2; /* Green */
  color: white;
}

.card-zone{
  width:70%;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  padding-top: 60px;
}

.card-zone h2{
  color:#163f7a;
}

.card-content {

}

.card-content:hover {
  transform: scale(1.1);
}

.row{
  padding-bottom: 30px;
}

h2{
  color:#163f7a;
}
