.Appointment{
    width: 100%;
}

.nav-bar-universal{
    background-color: white;
    height: 120px;
}

#txt-1-unv{
    font-family: Copperplate, fantasy;
    color:#163f7a;
}

.decor-div{

    background: linear-gradient(to right, #4cadc9, #37c5a6);
    height: 230px;
    width: 100%;
}

.decor-div h1{
    padding-top: 90px;
    text-align: center;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 3em;

}