.main-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
    grid-column-gap: 2em;
    margin:auto;
    padding:80px;


}

.main-image {

    max-width: 100%;
    box-shadow: 10px 10px 250px #000;

}

.main-text {
    grid-column: 2 / -2;
    margin-top: 3em;
    margin-bottom: 3em;

}

.section-title::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin-top: 1em;
    background: #37c5a6;
    margin-left: auto;
    margin-right: auto;
}















