.decor-div{

    background: linear-gradient(to right, #4cadc9, #37c5a6);
    height: 230px;
    width: 100%;
}

.figure img {
    width: 80px
}

.nav-bar-universal{
    background-color: white;
    height: 120px;
}












