.Servicii{
    text-align: center;
}

.servicii-zone{
    padding-top: 50px;

}

.Servicii h3{
    color: #163f7a;
}

.tarif{
    margin:auto;
    padding: 80px;
    width: 90%;
}

.column {
    flex: 1;
}



table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}


